

.container{
    width: 201px;
    height: 205px;
   font-size:12px;
   font-family: Avenir;
   margin-left: 500px; 
   margin-top: -60px;
   
}

.options{
    margin-left:50px;
    margin-top: -150px;
}
